<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>task form</title>
  </head>
  <body>
    <div>
      <h2>{% if task %}Edit{% else %}Create{% endif %} Task</h2>
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            id="title"
            name="title"
            class="form-control"
            required
            value="{{ task.title|default:'' }}"
          />
        </div>
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea id="description" name="description" class="form-control">
{{ task.description|default:'' }}</textarea
          >
        </div>
        <div>
          <label for="due_date" class="form-label">Due Date</label>
          <input
            type="date"
            id="due_date"
            name="due_date"
            class="form-control"
            required
            value="{{ task.due_date|date:'Y-m-d' }}"
          />
        </div>
        <button type="submit">Save Task</button>
        <a href="{% url 'task_list' %}">Cancel</a>
      </form>
    </div>
  </body>
</html>
